.simple-calendar {
    display: flex;
    flex-direction: column;
}

.calendar-display {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.calendar-display > h2 {
    margin: 1rem 0 0.2rem 0;
    padding: 0;
}

.calendar-display > h3 {
    margin: 0.1rem 0 1rem 0;
    padding: 0;
}

.weeks {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem
}

.empty-day, .day {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    text-align: left;
    margin: 0.25rem;
    padding: 0.25rem;
    min-height: 5rem;
}

.day {
    border-top: #1a1a1a solid 2px;
}

.day-number {
    color: #959595;
    font-size: 1.75rem;
    margin: 0.25rem 0 0.25rem 0;
}

.day-name {
    font-size: 1rem;
    color: #60a3cc;
    margin: 0.25rem 0 0.25rem 0;
}

.calendar-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.month-input, .year-input {
    border: none;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    background: none;
}

.year-input {
    width: 6ch;
}

.month-year-spacing {
    margin: 0 1rem 0 1rem;
    color: #959595;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 15%;
}
